# optimized files --------

.DS_Store

# Other ------------------

__pycache__/

# Assignemnts -------------

documents/calendar-dev.md
homework/Homework-1/
homework/Homework-2/
homework/Homework-3/
omework/Homework-4/
homework/Final-Exam/

# Solutions ----------------

sandbox/
solutions/
solutions/Homework-1/
solutions/Homework-2/
solutions/Homework-3/
solutions/Homework-4/